.App {
    text-align: center;
}

table {
    border-spacing: 0cm;
}

.App-output {
    width: 360px;
    height: 200px;
    margin: 0 auto;
    background-color: #B3D8FF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.App-output_header {
    display: flex;
    justify-content: space-between;
}

.App-logo {
    margin-left: 27px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.App-setting {
    margin-right: 23px;
    margin-top: 32px;
}

.App-output_display {
    align-self: flex-end;
    padding-bottom: 24px;
    padding-right: 28px;
    color: #4CA5FF;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
}

.App-input {
    width: 360px;
    margin: 0px auto;
    background-color: #6EB6FF;
}

.App-input_table {
    width: 100%;
}

.App-input_table td {
    width: 75px;
    height: 75px;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 35px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
}

.App-input_table td:hover {
    background-color: #3d85ce;
}

.App-input_table td:active {
    background-color: #316ca7;
}